.vs/CarRental/FileContentIndex/3251cf2e-c149-4504-b11d-7d3d59160fd1.vsidx
.vs/CarRental/FileContentIndex/87831b77-c1a4-4589-b9da-f35bbe323bb6.vsidx
.vs/CarRental/FileContentIndex/88bf691a-ef70-4e99-a2bc-9cd9b949eabf.vsidx
.vs/CarRental/FileContentIndex/94b893e8-35db-478f-acfd-937d50e48666.vsidx
.vs/CarRental/FileContentIndex/d38f1e52-dbda-4379-9d8c-9e08aeb20517.vsidx
.vs/CarRental/v17/.futdcache.v2
.vs/CarRental/v17/.suo
.vs/CarRental/v17/DocumentLayout.backup.json
.vs/CarRental/v17/DocumentLayout.json
.vs/ProjectEvaluation/carrental.metadata.v9.bin
.vs/ProjectEvaluation/carrental.projects.v9.bin
.vs/ProjectEvaluation/carrental.strings.v9.bin
CarRental.Application/bin/Debug/net8.0/CarRental.Application.deps.json
CarRental.Application/bin/Debug/net8.0/CarRental.Application.dll
CarRental.Application/bin/Debug/net8.0/CarRental.Application.pdb
CarRental.Application/bin/Debug/net8.0/CarRental.Application.runtimeconfig.json
CarRental.Application/bin/Debug/net8.0/CarRental.Domain.dll
CarRental.Application/bin/Debug/net8.0/CarRental.Domain.pdb
CarRental.Application/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
CarRental.Application/obj/Debug/net8.0/CarRenta.87FDFFE6.Up2Date
CarRental.Application/obj/Debug/net8.0/CarRental.Application.AssemblyInfo.cs
CarRental.Application/obj/Debug/net8.0/CarRental.Application.AssemblyInfoInputs.cache
CarRental.Application/obj/Debug/net8.0/CarRental.Application.assets.cache
CarRental.Application/obj/Debug/net8.0/CarRental.Application.csproj.AssemblyReference.cache
CarRental.Application/obj/Debug/net8.0/CarRental.Application.csproj.CoreCompileInputs.cache
CarRental.Application/obj/Debug/net8.0/CarRental.Application.csproj.FileListAbsolute.txt
CarRental.Application/obj/Debug/net8.0/CarRental.Application.dll
CarRental.Application/obj/Debug/net8.0/CarRental.Application.GeneratedMSBuildEditorConfig.editorconfig
CarRental.Application/obj/Debug/net8.0/CarRental.Application.genruntimeconfig.cache
CarRental.Application/obj/Debug/net8.0/CarRental.Application.GlobalUsings.g.cs
CarRental.Application/obj/Debug/net8.0/CarRental.Application.pdb
CarRental.Application/obj/Debug/net8.0/ref/CarRental.Application.dll
CarRental.Application/obj/Debug/net8.0/refint/CarRental.Application.dll
CarRental.Domain/bin/Debug/net8.0/CarRental.Domain.deps.json
CarRental.Domain/bin/Debug/net8.0/CarRental.Domain.dll
CarRental.Domain/bin/Debug/net8.0/CarRental.Domain.pdb
CarRental.Domain/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
CarRental.Domain/obj/Debug/net8.0/CarRental.Domain.AssemblyInfo.cs
CarRental.Domain/obj/Debug/net8.0/CarRental.Domain.AssemblyInfoInputs.cache
CarRental.Domain/obj/Debug/net8.0/CarRental.Domain.assets.cache
CarRental.Domain/obj/Debug/net8.0/CarRental.Domain.csproj.CoreCompileInputs.cache
CarRental.Domain/obj/Debug/net8.0/CarRental.Domain.csproj.FileListAbsolute.txt
CarRental.Domain/obj/Debug/net8.0/CarRental.Domain.dll
CarRental.Domain/obj/Debug/net8.0/CarRental.Domain.GeneratedMSBuildEditorConfig.editorconfig
CarRental.Domain/obj/Debug/net8.0/CarRental.Domain.GlobalUsings.g.cs
CarRental.Domain/obj/Debug/net8.0/CarRental.Domain.pdb
CarRental.Domain/obj/Debug/net8.0/ref/CarRental.Domain.dll
CarRental.Domain/obj/Debug/net8.0/refint/CarRental.Domain.dll
CarRental.Infrastructure/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
CarRental.Infrastructure/obj/Debug/net8.0/CarRenta.CD2C48B0.Up2Date
CarRental.Infrastructure/obj/Debug/net8.0/CarRental.Infrastructure.AssemblyInfo.cs
CarRental.Infrastructure/obj/Debug/net8.0/CarRental.Infrastructure.AssemblyInfoInputs.cache
CarRental.Infrastructure/obj/Debug/net8.0/CarRental.Infrastructure.assets.cache
CarRental.Infrastructure/obj/Debug/net8.0/CarRental.Infrastructure.csproj.AssemblyReference.cache
CarRental.Infrastructure/obj/Debug/net8.0/CarRental.Infrastructure.csproj.CoreCompileInputs.cache
CarRental.Infrastructure/obj/Debug/net8.0/CarRental.Infrastructure.csproj.FileListAbsolute.txt
CarRental.Infrastructure/obj/Debug/net8.0/CarRental.Infrastructure.dll
CarRental.Infrastructure/obj/Debug/net8.0/CarRental.Infrastructure.GeneratedMSBuildEditorConfig.editorconfig
CarRental.Infrastructure/obj/Debug/net8.0/CarRental.Infrastructure.genruntimeconfig.cache
CarRental.Infrastructure/obj/Debug/net8.0/CarRental.Infrastructure.GlobalUsings.g.cs
CarRental.Infrastructure/obj/Debug/net8.0/CarRental.Infrastructure.pdb
CarRental.Infrastructure/obj/Debug/net8.0/ref/CarRental.Infrastructure.dll
CarRental.Infrastructure/obj/Debug/net8.0/refint/CarRental.Infrastructure.dll
CarRental.Infrastructure/bin/Debug/net8.0/CarRental.Application.dll
CarRental.Infrastructure/bin/Debug/net8.0/CarRental.Application.pdb
CarRental.Infrastructure/bin/Debug/net8.0/CarRental.Domain.dll
CarRental.Infrastructure/bin/Debug/net8.0/CarRental.Domain.pdb
CarRental.Infrastructure/bin/Debug/net8.0/CarRental.Infrastructure.deps.json
CarRental.Infrastructure/bin/Debug/net8.0/CarRental.Infrastructure.dll
CarRental.Infrastructure/bin/Debug/net8.0/CarRental.Infrastructure.pdb
CarRental.Infrastructure/bin/Debug/net8.0/CarRental.Infrastructure.runtimeconfig.json
